<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.manage.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.school.manage.model.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="gmt_create" jdbcType="VARCHAR" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="VARCHAR" property="gmtModify" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="birthday" jdbcType="VARCHAR" property="birthday" />
    <result column="jurisdiction_id" jdbcType="INTEGER" property="jurisdictionId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, sex, age, gmt_create, gmt_modify, pwd, birthday, jurisdiction_id
  </sql>
  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where name = #{name,jdbcType=VARCHAR}
  </select>
   <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id}
  </select>
  <select id="selectAll"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.school.manage.model.User">
    insert into user (name, sex, age, 
      gmt_create, gmt_modify, pwd, 
      birthday, jurisdiction_id)
    values ( #{name,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR}, #{age,jdbcType=INTEGER}, 
      now(), now(), #{pwd,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=VARCHAR}, #{jurisdictionId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.school.manage.model.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="age != null">
        age,
      </if>
        gmt_create,
        gmt_modify,
      <if test="pwd != null">
        pwd,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="jurisdictionId != null">
        jurisdiction_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=CHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
        now(),
        now(),
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="jurisdictionId != null">
        #{jurisdictionId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.school.manage.model.User">
    update user
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
        gmt_modify = now(),
      <if test="newPwd != null">
        pwd = #{newPwd},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="jurisdictionId != null">
        jurisdiction_id = #{jurisdictionId},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.school.manage.model.User">
    update user
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=CHAR},
      age = #{age,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=VARCHAR},
      gmt_modify = #{gmtModify,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=VARCHAR},
      jurisdiction_id = #{jurisdictionId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>